<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
      <!--tailwindcss-->
  <link href="../assets/css/output.css" rel="stylesheet">
  <!--fontawesome-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--font family -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
      <!--Header-->
  <header class=" py-9.25 fixed w-full  ">
    <div class="container mx-auto flex justify-between items-center ">
      <div class="block lg:hidden text-white text-[20px]">
         <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
         <i class="fa-solid fa-bars" class="h-5 w-5" fill="none" 
         viewBox="0 0 24 24" stroke="currentColor"> 
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7">

         </i>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li class="text-primarycolor md:nav-link">
            <a href="../index.html">HOME</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./about.html">ABOUT US</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./menu.html">MENU</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./reservation.html">RESERVATION</a>
          </li>
           <li  class="text-primarycolor md:nav-link">
            <a href="./gallery.html">GALLERY</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./contact.html">CONTACT</a>
          </li> 
      </ul>
    </div>

      </div>
     <div>
      <a href="#" class="text-[30px] md:text-[40px] font-bold text-white">Fable</a>
     </div>
      <nav class=" hidden lg:block">
        <ul class="flex gap-11.25">
          <li class="nav-link">
            <a href="../index.html">HOME</a>
          </li>
          <li  class="nav-link">
            <a href="./about.html">ABOUT US</a>
          </li>
          <li  class="nav-link">
            <a href="./menu.html">MENU</a>
          </li>
          <li  class="nav-link">
            <a href="./reservation.html">RESERVATION</a>
          </li>
           <li  class="nav-link">
            <a href="./gallery.html">GALLERY</a>
          </li>
          <li  class="nav-link">
            <a href="./contact.html">CONTACT</a>
          </li>
          <div class="w-1 h-8.5 bg-white"></div>
        </ul>
      </nav>
      
     <div class="flex gap-6.25 items-center">
        <div class="block md:hidden">
        <i class="fa-solid fa-share-nodes hover:text-primarycolor transition-colors text-white text-[24px]"></i>
      </div>
       <div class="flex gap-2.5 text-[24px] md:text-[28px] text-white hidden md:block">
        <a href="https://x.com/?lang=ar"><i class="fa-brands fa-twitter hover:text-primarycolor transition-colors "></i></a>
        <a href="https://www.facebook.com/?locale=ar_AR"><i class="fa-brands fa-facebook-f hover:text-primarycolor transition-colors "></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram hover:text-primarycolor transition-colors "></i></a>
      </div>
      <div class="bg-primarycolor py-1.25 px-2 text-[16px]  md:py-2.5 md:px-3.75 lg:text-[24px]  hover:bg-black hover:border hover:border-white group transition-all duration-300 ease-in-out">
        <a href="" class="text-black font-semibold group-hover:text-white">BOOK A TABLE</a>
      </div>
  
     </div>
    </div>
  </header>

  <main>
    <!-- Hero Section -->
     
  <section class="bg-[url(../image/about/slider.png)]
    bg-cover bg-no-repeat bg-center 
    h-screen  w-full group/about ">
   <div class="container mx-auto flex flex-col gap-2.5 justify-center items-center opacity-0 group-hover/about:opacity-100 
    text-center h-full  transition-all ">

    <div class="after:w-18.75 after:h-1 after:mx-auto  after:block
     after:bg-primarycolor after:content-['']" >
    <h3 class="text-primarycolor text-[50px] md:text-[80px] font-primary">True Passion</h3>
    <h2 class="text-white text-[40px] md:text-[70px] font-third font-bold ">NARURAL FLAVORS</h2>
    </div>
    
    <div class=" max-w-[75%]">
      <p class="text-white text-[22px] md:text-[30px]  ">
      Opened in February 2016, La Cuisine is the largest restaurants in London
      .A bustling atmospheric restaurant, with a huge open kitchen.
    </p>
    </div>
   </div>
   </section>
  
   <!-- BEST RECIPES -->

   <section class=" py-18">
  <div class="container mx-auto">
    <div class="grid grid-rows  md:grid-cols-2 gap-12.5">
        <img src="../assets/image/about/BEST-RECIPES.png" alt="BEST-RECIPES" class="w-full h-full">
     
     <div class="flex flex-col justify-center items-center text-center gap-5 py-6  px-7.5 order-1 md:order-0 mt-6">
     <h3 class="text-[60px] md:text-[80px] font-primary text-primarycolor"> Discover</h3>
     <h2 class="text-[60px] font-bold font-third  md:text-[80px]">BEST RECIPES</h2>
     <p  class="text-[20px]">
         Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum 
         fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur 
         adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sed quia.
     </p>
      <div class="bg-primarycolor py-4 px-1.75 hover:bg-secondarycolor transition-all order-0 md:order-1">
        <a href="#" class="text-[25px]  font-bold text-white border border-white py-2.5 px-8.5 " >OUR RECEPES</a>
      </div>
     </div>
    </div>
   </div>
 </section>

<section class="bg-[url(../image/about/about.png)] py-55 bg-cover bg-no-repeat bg-center">

 </section>
 
 <!-- OUR CHEFS -->
  <section class=" ">
  <div class="container mx-auto">
    <div class="grid grid-rows  md:grid-cols-2 gap-12.5">
     
     <div class="flex flex-col justify-center items-center text-center gap-5 py-20 px-7.5 order-1 md:order-0 mt-6">
     <h3 class="text-[60px] md:text-[80px] font-primary text-primarycolor"> Discover</h3>
     <h2 class="text-[60px] font-bold font-third  md:text-[80px]">OUR CHEFS</h2>
     <p  class="text-[20px]">
       Curabitur quas nets lacus ets nulat iaculis loremis etis nisle varius vitae seditum 
       fugiatum ligula aliquam qui sequi. Lorem ipsum dolor sit amet, consectetur 
       adipiscing elit rutrum eleif arcu sit aspernatur nets fugit, sedit quiadused 
       fuscentinusad sagittis odio magna, in ultricies ex tincidunt.
     </p>
     <div>
      <img src="../assets/image/about/icon.png" alt="icon">
     </div>
     
     </div>
     <div>
      <img src="../assets/image/about/our-chefs.png" alt="our-chefs" class="w-full h-full">
     </div>
    </div>
   </div>
 </section>

  </main>

</body>
</html>
