<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
      <!--tailwindcss-->
  <link href="../assets/css/output.css" rel="stylesheet">
  <!--fontawesome-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--font family -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
      <!--Header-->
  <header class=" py-9.25 fixed w-full  ">
    <div class="container mx-auto flex justify-between items-center ">
      <div class="block lg:hidden text-white text-[20px]">
         <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
         <i class="fa-solid fa-bars" class="h-5 w-5" fill="none" 
         viewBox="0 0 24 24" stroke="currentColor"> 
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7">

         </i>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li class="text-primarycolor md:nav-link">
            <a href="../index.html">HOME</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./about.html">ABOUT US</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./menu.html">MENU</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./reservation.html">RESERVATION</a>
          </li>
           <li  class="text-primarycolor md:nav-link">
            <a href="./gallery.html">GALLERY</a>
          </li>
          <li  class="text-primarycolor md:nav-link">
            <a href="./contact.html">CONTACT</a>
          </li> 
      </ul>
    </div>

      </div>
     <div>
      <a href="#" class="text-[30px] md:text-[40px] font-bold text-white">Fable</a>
     </div>
      <nav class=" hidden lg:block">
        <ul class="flex gap-11.25">
          <li class="nav-link">
            <a href="../index.html">HOME</a>
          </li>
          <li  class="nav-link">
            <a href="./about.html">ABOUT US</a>
          </li>
          <li  class="nav-link">
            <a href="./menu.html">MENU</a>
          </li>
          <li  class="nav-link">
            <a href="./reservation.html">RESERVATION</a>
          </li>
           <li  class="nav-link">
            <a href="./gallery.html">GALLERY</a>
          </li>
          <li  class="nav-link">
            <a href="./contact.html">CONTACT</a>
          </li>
          <div class="w-1 h-8.5 bg-white"></div>
        </ul>
      </nav>
      
     <div class="flex gap-6.25 items-center">
        <div class="block md:hidden">
        <i class="fa-solid fa-share-nodes hover:text-primarycolor transition-colors text-white text-[24px]"></i>
      </div>
       <div class="flex gap-2.5 text-[24px] md:text-[28px] text-white hidden md:block">
        <a href="https://x.com/?lang=ar"><i class="fa-brands fa-twitter hover:text-primarycolor transition-colors "></i></a>
        <a href="https://www.facebook.com/?locale=ar_AR"><i class="fa-brands fa-facebook-f hover:text-primarycolor transition-colors "></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram hover:text-primarycolor transition-colors "></i></a>
      </div>
      <div class="bg-primarycolor py-1.25 px-2 text-[16px]  md:py-2.5 md:px-3.75 lg:text-[24px]  hover:bg-black hover:border hover:border-white group transition-all duration-300 ease-in-out">
        <a href="" class="text-black font-semibold group-hover:text-white">BOOK A TABLE</a>
      </div>
  
     </div>
    </div>
  </header>

 <!-- Hero Section -->
     
 <main>
     <section class="bg-[url(../image/contact/CONTACT-IMAGE.png)]
    bg-cover bg-no-repeat bg-center 
    h-screen  w-full group/about ">
   <div class="container mx-auto flex flex-col gap-2.5 justify-center items-center opacity-0 group-hover/about:opacity-100 
    text-center h-full  transition-all ">

    <div class="after:w-18.75 after:h-1 after:mx-auto  after:block
     after:bg-primarycolor after:content-['']" >
    <h3 class="text-primarycolor text-[50px] md:text-[80px] font-primary">La Cuisine</h3>
    <h1 class="text-white text-[40px] md:text-[70px] font-third font-bold ">SPECIAL MOMENTS</h1>
    </div>
    
    <div class=" max-w-[75%]">
      <p class="text-white text-[22px] md:text-[30px]  ">
      An unforgettable dining experience in the heart of Covent Garden,
       London.Contemporary british menu, inspired by the traditions of Great Britain.
    </p>
    </div>
   </div>
   </section>
   <!-- CONTACT FORM -->

   <section class="py-18">
    <div class="text-center">
        <h2 class="text-[40px] md:text-[60px] font-bold font-third">CONTACT FORM</h2>
        <p class="text-[22px] md:text-[30px] text-black/40 mt-4">
            There are many variations of passages of Lorem Ipsum available, but the majority have 
            suffered <br>alteration, by injected humour, or new randomised words which don't look believable.
        </p>
    </div>
    <div class="container mx-auto">
    <div class="py-10">
        <form action="" >
            <div class="grid grid-cols-1   md:grid-cols-2 gap-25">
                <div class="flex flex-col justify-between gap-5">
                <input type="text" placeholder="Full  Name*" name="name" class="border-3 py-7 px-4.25">
                <input type="email" placeholder="Email Address*" name="email" class="border-3 py-7 px-4.25">
                <input type="tel" placeholder="Phone Number*" name="phone" class="border-3 py-7 px-4.25">
            </div>
            <div>
                <textarea name="Message" id="" placeholder="Your Message..."
                class="w-full h-80.25 border-3 focus:border-primarycolor  p-5"
                ></textarea>
            </div>
            </div>
            
      <div class=" flex justify-center mt-10">
    <button type="submit"
      class="bg-primarycolor text-white py-4 px-10 font-bold
       hover:bg-white hover:text-primarycolor hover:border-primarycolor
        hover:border-2 transition-all">
      SEND MESSAGE
    </button>
  </div>
        </form>
    </div>
    </div>
   </section>
 </main>

   <!-- footer -->

  <footer class="bg-[#3C4144] py-18.25 mx-auto">
  <div class="container mx-auto grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7.5  text-center md:text-left">
      <div class="flex flex-col gap-6.25 items-center  md:items-start ">
        <h2 class="text-white text-[30px] font-bold  after">ABOUT US</h2>
        <p class="text-white text-[15px] ">Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil 
           etsa illum sedit consequatur quias.
        </p>
        <div class="bg-primarycolor py-4 px-1.75 hover:bg-secondarycolor transition-all order-0 md:order-1">
        <a href="" class="text-[15px]  font-bold text-white border border-white py-2.5 px-8.5 " >OUR STORY</a>
      </div>
      </div>

       <div class="flex flex-col items-center  md:items-start ">
        <h2 class="text-white text-[30px] font-bold  after">LATEST RECIPES</h2>
        <div class="flex flex-col gap-3.75 items-center  md:items-start py-8.75">
          <div>
          <p class="text-white text-[15px] hover:text-primarycolor transition-all">Cheddar Cheese Cauliflower Tots</p>
          <hr class="bg-white w-60 h-0.5 mt-2">
        </div>
        <div>
          <p class="text-white text-[15px] hover:text-primarycolor transition-all">Garlic Chicken & White Wine Sauce</p>
          <hr class="bg-white w-60 h-0.5 mt-2">
        </div>
         <div>
          <p class="text-white text-[15px] hover:text-primarycolor transition-all">Spinach Mozzarella Grilled Cheese</p>
          <hr class="bg-white w-60 h-0.5 mt-2">
        </div>
        
         <div>
          <p class="text-white text-[15px] hover:text-primarycolor transition-all">Mini Chicken Roasted Cups</p>
          <hr class="bg-white w-60 h-0.5 mt-2">
        </div>
        </div>
      </div>

      <div class="flex flex-col items-center  md:items-start ">
        <h2 class="text-white text-[30px] font-bold  after">LATEST RECIPES</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 py-8.75 gap-7.75">
         <div>
          <img src="../assets/image/footer/item1.png" alt="item1" class="w-full">
         </div>
         <div>
          <img src="../assets/image/footer/item2.png" alt="item2" class="w-full">
         </div>

         <div>
          <img src="../assets/image/footer/item3.png" alt="item3" class="w-full">
         </div>
         <div>
          <img src="../assets/image/footer/item4.png" alt="item4" class="w-full">
         </div>

         <div>
          <img src="../assets/image/footer/item5.png" alt="item5" class="w-full">
         </div>

         <div>
          <img src="../assets/image/footer/item6.png" alt="item6" class="w-full">
         </div>
        </div>
       
      </div>

      <div class="flex flex-col items-center  md:items-start ">
        <h2 class="text-white text-[30px] font-bold  after">CONTACT DETAILS</h2>
        <div class="py-6.5">
          <p class="text-white text-[15px]">Quis autem velis eti reprehender etimes  quiste volupta velit esse quam nihil.</p>
        </div>
        <div class="flex flex-col gap-4.5">
          <div>
            <i class="fa-solid fa-location-dot text-white mr-2"></i>
             <span class="text-white text-[15px] hover:text-primarycolor transition-all">Oxford Street, London, UK, N1 1ED</span>
          </div>
          <div>
            <i class="fa-solid fa-phone text-white  mr-2" ></i>
            <span class="text-white text-[15px] hover:text-primarycolor transition-all">+44 987 654 321 / +44 123 456 789</span>
          </div>
          <div>
            <i class="fa-solid fa-envelope text-white  mr-2" ></i>
            <span class="text-white text-[15px] hover:text-primarycolor transition-all">contact@restaurant.com</span>
          </div>
        </div>
        <div>

        </div>
      </div>
  </div>
  <div>
    <div class="container mx-auto border-t mt-5 border-white py-6.25">
       <div class="flex justify-between items-center gap-6 flex-col md:flex-row">
        <span class="text-white text-[15px]">© 2016-2018 Fable. Designed by Epic Agency</span>
        <div class="bg-primarycolor py-3 px-1.25 hover:bg-secondarycolor transition-all ">
        <a href="" class="text-[12px]  font-bold text-white border border-white py-2.5 px-2.5 " >
          <i class="fa-solid fa-angles-up"></i>
        </a>
      </div>
        <div class="flex text-white gap-4.25">
          <h5 class="text-[15px]">Follow Us:</h5>
          <div>
            <i class="fa-brands fa-twitter hover:text-primarycolor transition-colors"></i>
            <i class="fa-brands fa-pinterest-p hover:text-primarycolor transition-colors"></i>
            <i class="fa-brands fa-facebook-f hover:text-primarycolor transition-colors"></i>
            <i class="fa-brands fa-instagram hover:text-primarycolor transition-colors"></i>
            <i class="fa-brands fa-youtube hover:text-primarycolor transition-colors"></i>
          </div>
        </div>
       </div>
    </div>
  </div>
</footer>
</body>
</html>
