@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primarycolor: #F8BF2C;
  --color-secondarycolor: #F8842C;
  --font-primary:"Alex Brush", cursive;
  --font-second:"Kaushan Script", cursive;
  --font-third:"Merriweather Sans", sans-serif;
}
 @utility nav-link{
    @apply text-white font-semibold text-[20px] hover:text-primarycolor transition-colors;
 } 
 @utility btn-slider{
    @apply rounded-full w-5.25 h-5.25 border border-white border-solid bg-[#ffffff00] text-black  active:bg-white;
 }

  @utility after{
    @apply after:h-1 after:w-[65px] after:mt-[20px] after:block after:bg-primarycolor after:content-[''];
 }
 @utility input{
   @apply border-2 border-[#00000066] py-7.5 pr-11.25 pl-4.25  placeholder:text-[20px] rounded-none  focus:outline-none focus:shadow-[0_0_20px_rgba(248,191,44,0.5)] transition-all duration-300;
 }