@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primarycolor: #F8BF2C;
  --color-secondarycolor: #F8842C;
  --font-primary:"Alex Brush", cursive;
  --font-second:"Kaushan Script", cursive;
  --font-third:"Merriweather Sans", sans-serif;
}
 @utility nav-link{
    @apply text-white font-semibold text-[20px] hover:text-primarycolor transition-colors;
 }
 @utility btn-slider{
    @apply rounded-full w-5.25 h-5.25 border border-white border-solid bg-[#ffffff00] text-black  active:bg-white;
 }

  @utility after{
    @apply after:h-1 after:w-[65px] after:mt-[20px] after:block after:bg-primarycolor after:content-[''];
 }